<form role="form">
    <div class="form-group">
        <label for="name">Name:</label>
        <input
                id="name"
                type="text"
                required="required"
                class="form-control"
                placeholder="Please enter a name for pairing."
                ng-model="name"
                ng-empty
                />
    </div>
    <button
            ng-click="addUser(name);"
            class="btn btn-default"
        >
        <i class="glyphicon glyphicon-plus-sign"></i> Add
    </button>
    <span>
</span>
</form>
