<span ng-controller="MainCtrl">
    <div>
        <span ng-include src="'views/partials/user/form.html'"></span>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <hr />
            <h3>User List ({{count}})</h3>
            <div>
                <span ng-include src="'views/partials/user/list.html'"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <hr />
            <h3>Pairs</h3>
            <div>
                <span ng-include src="'views/partials/pairs.html'"></span>
            </div>
        </div>
    </div>
</span>
